/* START: Task 1 Styles */
.all{
    display:flex;
    align-content:center;
    justify-content: center;
    justify-items: center;

}
.white{
    background-color: white;
    padding: 3em;
}

.yellow{
    background-color: yellow;
    padding: 3em;
}

.blue{
    background-color: blue;
    padding: 3em;
}

.green{
    background-color: green;
    padding: 3em;
}


/* END: Task 1 Styles */


/* START: Task 2 Styles */


body {
    font-family: Arial, sans-serif;
}

#some {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#messageBox {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 10px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    resize: none; /* Prevent textarea from being resizable */
    overflow: auto; /* Enable vertical scrolling if needed */
}

#userInput {
    flex: 1;
    padding: 8px;
    border: 1px solid black;
    margin-right: 10px;
}

#sendButton {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#notification {
    display: none;
    color: #D9534F;
    margin-top: 5px;
}

#notification.success {
    color: #5CB85C;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */
